*.csproj
*.unityproj
*.sln
*.pdb
*.dll
*.opensdf
*.sdf
*.booproj
*.~vsdx
*.apk

build
upload
Temp
Library
Gizmos
Gizmos.meta
Plugins
Plugins.meta
Debug
Release

DOCUMENTATION.txt
DOCUMENTATION.txt.meta
bolt.meta
documentation.meta

**/Assets/tutorial*

Bolt_DebugStart_Build
Bolt_Log*
/src/bolt/Debug
/src/bolt.unity.samples/*
**/Assets/bolt/assemblies
**/Assets/bolt/assemblies.meta
**/Assets/bolt/resources
**/Assets/bolt/resources.meta
**/Assets/bolt/scripts
**/Assets/bolt/scripts.meta
**/Assets/bolt/scenes
**/Assets/bolt/scenes.meta

.DS_Store
bin
obj
armeabi
*.mdb
*.mdb.meta
*.db
*.userprefs
*.suo
*.user