*.csproj
*.sln
*.pdb
*.dll

build
upload
Temp
Library
Gizmos
Gizmos.meta
Plugins
Plugins.meta

Bolt_DebugStart_Build
Bolt_Log*

**/Assets/bolt/resources
**/Assets/bolt/resources.meta
**/Assets/bolt/scripts
**/Assets/bolt/scripts.meta
**/Assets/bolt/scenes
**/Assets/bolt/scenes.meta

.DS_Store
bin
obj
armeabi
*.mdb
*.mdb.meta
*.db
*.userprefs
*.suo